/* src/index.css */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #f9fafb; /* cor de fundo conforme Figma */
}
/* src/index.css */
:root {
    --color-bg-screen:   #01121F;   /* fundo geral da tela */
    --color-bg-card:     #021A30;   /* fundo do card */

    --color-text-title:  #F8F9FA;   /* cor do título “Bem-vindo de volta” */
    --color-text-label:  #f8f9fac9;   /* cor dos labels “E-mail”/“Senha” */
    --color-bg-input: #343B41;

    --color-border:      #D1D5DB;   /* cor da borda dos inputs */
    --color-focus-ring:  rgba(0,85,255,0.3); /* anel de foco */

    --color-btn-bg:      #8b1d07;   /* background do botão */
    --color-btn-hover:   #8b1d07cc;   /* hover do botão */
  }
  